@use 'variables' as *;
@use 'mixins';

.header {
  font-size: 2vh;
  min-width: $minPageWidth;

  .actions {
    @include mixins.flex(row);
    gap: 1.5rem;
  }

  .actions > * {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .back {
    @include mixins.link(white, $secondary);
    display: flex;
    gap: 0.25rem;
    &::before {
      @include mixins.icon(0.7rem, 'back');
    }
  }

  .title {
    font-family: $titleFont;
    font-size: 4em;
    line-height: 93%;
    margin: 0.2em 0;
  }

  .description {
    font-size: $mainFontSize;
    font-weight: 400;
    line-height: 1.4em;
    max-width: inherit;
    margin: 0;
    margin-block: 0;
  }
}
