POSTGRES_USER=exampleuser
POSTGRES_PASSWORD=examplepass
POSTGRES_DB=exampledb

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=8080

PORT=3000
NODE_ENV=production
LOGGER_TYPE=tskv
DEBUG=*
