@font-face {
	font-family: 'Garamond';
	src: url('/fonts/garamond/EBGaramond-Regular.woff2') format('woff2'),
		url('/fonts/garamond/EBGaramond-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
