@use './normalize';
@use './YSText';
@use './Garamond';
@use './Glyphter';

@use 'variables' as *;

html,
body.page {
  height: 100%;
  font-family: $font;
  font-size: $baseFontSize;
  color: $baseFontColor;
  background: $background;
}